body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    margin: 0px;
    width: 100%;
    flex-direction: column;
}

.header-hero-wrapper {
    margin: 0px;
    width: 100%;
    background-color: #1F2937;
    height: 50vh;
}
.header{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
         
}

.header-left {
    font-size: 24px;
    font-weight: 900;

}


.header-links {
    gap: 20px;
    font-size: 18px;
    display: flex;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
    display:;
    


}

button {
    border-radius: 10px;
    border: none;
    background-color: #3882F6;
    height: 4vh;
    width: 12vh;
    color: #F9FAF8;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}

.hero {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;


    
   

}

.subtitle {
    font-size: 48px;
    color: #F9FAF8;
    max-width: 300px;
    font-weight: bolder;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 400px;
}

.imginfo {
    color: #E5E7EB;
    max-width: 400px;
    background-color: hsla(224, 33%, 66%, 0.616);
    border-radius: 10px;
    border: none;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.second {
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
 .secondtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding: 40px;
    font-weight: 700;
    

 }

 .text {
    display: flex;
    flex-direction: column;
 }
.images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 30px;



}
img, p {
    display: flex;
    max-width: 200px;



}

img {
    border-radius: 30px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.quotes, .person {
    color: #1F2937;
    max-width: 600px;
}

.person {
    justify
}
